PORT=5000
DB_USER=neondb_owner
DB_PASSWORD=npg_0I6QysPOugbY
DB_HOST=ep-wild-feather-av4cuy0s.c-11.us-east-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
JWT_SECRET=s1mplechat_super_secret_key_2024
FRONTEND_URL=https://s1mple-chat.vercel.app
NODE_ENV=production

# Cloudinary (Free Media & Voice Notes Storage)
CLOUDINARY_CLOUD_NAME=niwzk1ue
CLOUDINARY_API_KEY=263742649765751
CLOUDINARY_API_SECRET=_KN32-FM8iV9zwC6xjQAzx_M7Ro
